body{
	background-color: rgb(0,0,0);
	color: rgb(255,255,255);
	position: relative;
	padding:35px;
	margin: 0px;
	font-family: serif;
	font-size: 16px;
}
*{
	box-sizing: border-box;
}
h1{
	text-align: center;
	margin-bottom: 50px;
}
p{
	position: relative;
	float: right;
	margin: 0px;
	border:1px solid red;
	width:auto;
	height: auto;
	padding: 5px;
	
	background-color: blue;
}
div{
	overflow: hidden;
}
article{
	clear: right;
	padding: 20px;
	padding-top: 0px;
}
.row{
	padding: 10px;
	margin-right: 10px;
}
.p2{
	background-color: red;

}
@media(min-width: 992px){
	.col-lg-4{
		width: 31%;
		height: auto;
		float: left;
		background-color: grey;
		border: 1px solid white;
		
		padding-top: 0;
		margin-right: 20px;
		align-self: center;
		clear: right;

	}

}
@media(min-width: 768px) and (max-width: 991px){
	h1{
		margin-bottom: 30px;
	}
	.col-md-6{
		width: 50%;
		height: auto;
		float: left;
		background-color: grey;
		border: 1px solid white;
		
		padding-top: 0;
		margin: 15px;
		align-self: center;
		clear: right;
	}
	.col-md-12{
		width: 100%;
		height: auto;
		float: left;
		background-color: grey;
		border: 1px solid white;
		margin: 15px;
		padding-top: 0;
		
		align-self: center;
		clear: right;
	}
	p{
		width:auto;
	}

}
@media(max-width: 767px){
	h1{
		margin-bottom: 25px;
	}
	.col-sm-12 {
		width: 100%;
		height: auto;
		float: left;
		background-color: grey;
		border: 1px solid white;
		
		padding-top: 0;
		margin: 15px;
		align-self: center;
		clear: right;
	}
	p{
		width: auto;
	}
}
